<div class="container">
	<div class="input-field col s12">
	    <select>
	      <option value="" disabled selected>Choose the Driver</option>
	      <option value="1">Tom Smith</option>
	      <option value="2">Big Ben</option>
	      <option value="3">Travis Clarck</option>
	    </select>
	    <label>Bus Driver</label>
  	</div>
</div>