<div class="container">
	<div class="input-field col s12">
	    <select>
	      <option value="" disabled>Choose the Fleet Number</option>
	      <option value="1" disabled selected>Bus #1</option>
	      <option value="2" disabled>Bus #2</option>
	      <option value="3" disabled>Bus #3</option>
	    </select>
	    <label>Fleet number</label>
  	</div>
</div>